@charset "UTF-8";
/* CSS Document */

body {
	background-color: #543530;
	/*background-image:url(../img/bg_Tamales.jpg);*/
}

.pagination-car {
	/*background:#999;*/
	width:90px;
}

#txSlide2-1,
#txSlide2-2,
#txSlide2-3,
#txSlide2-4,
#txSlide2-5 {
	/*background:#999;*/
	margin:150px 0px 0px 410px;
}

#instruSlide {
	top:380px;
	left:450px;
}