@charset "UTF-8";
/* CSS Document */

body {
	/*background-color: #061E2D;*/
	background-image:url(../img/bg_Poder.jpg);
}

.pagination-car {
	/*background:#999;*/
	width:200px;
}

.txSlide {
	width:400px;
}

#txSlide1-1,
#txSlide1-2,
#txSlide1-3,
#txSlide1-4,
#txSlide1-5,
#txSlide1-6,
#txSlide1-7,
#txSlide1-8,
#txSlide1-9,
#txSlide1-10 {
	/*background:#999;*/
	margin:150px 0px 0px 520px;
}

#instruSlide {
	top:150px;
	left:400px;
}