@charset "UTF-8";
/* CSS Document */

body {
	background-color: #1F192A;
	background-image:url(../img/bg_Extraterrestre.jpg);
}

.pagination-car {
	/*background:#999;*/
	width:130px;
}

.txSlide {
	width:400px;
}

#txSlide5-1,
#txSlide5-2,
#txSlide5-3,
#txSlide5-4,
#txSlide5-5,
#txSlide5-6 {
	margin:150px 0px 0px 220px;
}

#instruSlide {
	top:240px;
	left:430px;
}