@charset "UTF-8";
/* CSS Document */

body {
	background-color: #321420;
	background-image:url(../img/bg_Vocales.jpg);
}

.pagination-car {
	/*background:#999;*/
	width:110px;
}

#txSlide4-1,
#txSlide4-2,
#txSlide4-3,
#txSlide4-4,
#txSlide4-5,
#txSlide4-6 {
	margin:150px 0px 0px 320px;
}

#instruSlide {
	top:240px;
	left:430px;
}