@charset "UTF-8";
/* CSS Document */

body {
	background-color: #1C194B;
	background-image:url(../img/bg_CasaFull.jpg);
}

.pagination-car {
	/*background:#999;*/
	width:90px;
}

#txSlide3-1,
#txSlide3-2,
#txSlide3-3,
#txSlide3-4 {
	margin:150px 0px 0px 410px;
}

#instruSlide {
	top:190px;
	left:420px;
}