@charset "UTF-8";
/* CSS Document */

body {
	/*background-color: #18292A;*/
	background-image:url(../img/bg_Sura.jpg);
}

.pagination-car {
	/*background:#999;*/
	width:90px;
}

#txSlide8-1,
#txSlide8-2,
#txSlide8-3,
#txSlide8-4,
#txSlide8-5 {
	margin:150px 0px 0px 410px;
}

#instruSlide {
	top:170px;
	left:500px;
}