@charset "UTF-8";
/* CSS Document */

body {
	background-image:url(../img/cuento_03/bg_pag-10-11.jpg);
}

.pagination-car {
	/*background:#999;*/
	width:130px;
}

#c3f1 {
	display:block;
	position:absolute;
	
	top:250px;
	left:0px;
	
	width:418px;
	height:296px;
}

#txSlide3-2 {
	margin:160px 0px 0px 10px;
}

#c3f2 {
	display:block;
	position:absolute;
	
	top:250px;
	right:0px;
	
	width:468px;
	height:239px;
}

#c3f3 {
	display:block;
	position:absolute;
	
	top:340px;
	left:60px;
	
	width:293px;
	height:147px;
}

#c3f4 {
	display:block;
	position:absolute;
	
	top:270px;
	left:0px;
	
	width:414px;
	height:213px;
}

#c3f5 {
	display:block;
	position:absolute;
	
	top:300px;
	left:0px;
	
	width:420px;
	height:214px;
}

#c3f6 {
	display:block;
	position:absolute;
	
	top:300px;
	left:0px;
	
	width:427px;
	height:243px;
}

#c3f7 {
	display:block;
	position:absolute;
	
	top:370px;
	left:0px;
	
	width:449px;
	height:176px;
}
