@charset "UTF-8";
/* CSS Document */

body {
	/*background-color: #004D35;*/
	background-image:url(../img/bg_Genio.jpg);
}

.pagination-car {
	background:#999;
	width:90px;
}

#instruSlide {
	top:190px;
	left:440px;
}