@charset "UTF-8";
/* CSS Document */

body {
	/*background-color: #492748;*/
	background-image:url(../img/bg_Volar.jpg);
}

.pagination-car {
	/*background:#999;*/
	width:110px;
}

.txSlide {
	width:440px;
}

#txSlide6-1,
#txSlide6-2,
#txSlide6-3,
#txSlide6-4,
#txSlide6-5,
#txSlide6-6 {
	margin:150px 0px 0px 480px;
}

#instruSlide {
	top:450px;
	left:370px;
}